body{
    padding-top: 60px;
}

.scrollable-menu {
    height: auto;
    max-height: 80vh;
    overflow-x: hidden;
}


.navbar {
    height: 50px;
}

ul.nav.navbar-nav.navbar-left, a.navbar-brand {
    margin-top: 8px;
}

.header-fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 66px;
}



.animeBg {
    width:100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size:cover;
    /* background-size: 330px; */

}

.animeBgDetails {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}

.bgDark{
     content: "";
    left: 0;
    right: 0;
    z-index: 0;
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    position: fixed;
}

.animeDetails {
    color: #fff;
    text-shadow:0px 1px 2px rgba(0, 0, 0, 0.40);

}

.animeTitle {
    height: 25px;
    position: relative;
    top: -60px;
    padding-top: 10px;
    color: #fff;
    background: #000;
    text-align: center;
    opacity: 0.8;
    width: 100%;
    height: 60px;
}

.animeRating {
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.84);
    position: relative;
    left: -2px;
    top: -9px;
    float: right;
    color: #fff;
    font-size: 30pt;
}

a {
    color: #86D8FF;
}

.navbar-inverse.navbar {
    background-color: #282829
}



.txt-sm {
    font-size: 14px;
}

.navbar-black.navbar-collapse {
    background: #282829;
}


.opcoes {
   /* position: relative;
    top: 50px;
    z-index: 999;
    margin: -50px;
    left: 55px;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.84);
    color: white;
    float: left;*/
    font-size: 16px;
}

i.fa.fa-check.iconeOpcao {
    color: #4CAF50;
    cursor: pointer;
}

i.fa.fa-check.iconeOpcao:hover {
    font-size: 45px;
}

i.fa.fa-check-circle.iconeOpcao {
    color: #999;
    cursor: pointer;
}

i.fa.fa-check-circle.iconeOpcao:hover {
    font-size: 45px;
}

.iconeOpcao {
    margin: 4px;
}





/* Loading */
#loading {
    /* background: #f4f4f2 scroll 0 0; */
    height: 100%;
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999999;
}

#loading h3 {
    position: relative;
    top: 94px;
    left: -55px;
}

.bokeh {
    border: 0.01em solid rgba(150, 150, 150, 0.1);
    border-radius: 50%;
    font-size: 100px;
    height: 1em;
    list-style: outside none none;
    margin: 0 auto;
    position: relative;
    top: 35%;
    width: 1em;
    z-index: 2147483647;
}
.bokeh li {
    border-radius: 50%;
    height: 0.2em;
    position: absolute;
    width: 0.2em;
}
.bokeh li:nth-child(1) {
    animation: 1.13s linear 0s normal none infinite running rota, 3.67s ease-in-out 0s alternate none infinite running opa;
    background: #00c176 none repeat scroll 0 0;
    left: 50%;
    margin: 0 0 0 -0.1em;
    top: 0;
    transform-origin: 50% 250% 0;
}
.bokeh li:nth-child(2) {
    animation: 1.86s linear 0s normal none infinite running rota, 4.29s ease-in-out 0s alternate none infinite running opa;
    background: #ff003c none repeat scroll 0 0;
    margin: -0.1em 0 0;
    right: 0;
    top: 50%;
    transform-origin: -150% 50% 0;
}
.bokeh li:nth-child(3) {
    animation: 1.45s linear 0s normal none infinite running rota, 5.12s ease-in-out 0s alternate none infinite running opa;
    background: #fabe28 none repeat scroll 0 0;
    bottom: 0;
    left: 50%;
    margin: 0 0 0 -0.1em;
    transform-origin: 50% -150% 0;
}
.bokeh li:nth-child(4) {
    animation: 1.72s linear 0s normal none infinite running rota, 5.25s ease-in-out 0s alternate none infinite running opa;
    background: #88c100 none repeat scroll 0 0;
    margin: -0.1em 0 0;
    top: 50%;
    transform-origin: 250% 50% 0;
}
@keyframes opa {
12% {
    opacity: 0.8;
}
19.5% {
    opacity: 0.88;
}
37.2% {
    opacity: 0.64;
}
40.5% {
    opacity: 0.52;
}
52.7% {
    opacity: 0.69;
}
60.2% {
    opacity: 0.6;
}
66.6% {
    opacity: 0.52;
}
70% {
    opacity: 0.63;
}
79.9% {
    opacity: 0.6;
}
84.2% {
    opacity: 0.75;
}
91% {
    opacity: 0.87;
}
}

@keyframes rota {
100% {
    transform: rotate(360deg);
}
}

}
/* // Loading */
