<div class="navbar navbar-inverse navbar-black header-fixed" ng-controller="NavController as vm">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="anime" ui-sref-opts="{reload:true}">Animes Wolf</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="#/anime">Animes</a>
            </li>
            <li class="dropdown">
                <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Genêros <b class="caret"></b></a>
                <ul class="dropdown-menu scrollable-menu">
                    <li ng-repeat="genre in vm.genres"><a href="#/anime/filtro/genres/{{genre.name}}">{{genre.name}}</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Temas <b class="caret"></b></a>
                <ul class="dropdown-menu scrollable-menu">
                    <li ng-repeat="theme in vm.themes"><a href="#/anime/filtro/themes/{{theme.name}}">{{theme.name}}</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li ng-show="vm.token">
           <a ui-sref="logout">Sair</a>
        </li>
      </ul>
    </div>
</div>

